body{
 background-color: #282c34;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
 
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c{
  align-items: center;
  text-align: center;
}

.v{

  background-color: darkslategray;
}

.circle{
border: 60px;
border-radius: 200px;
border-width: 15px;
}

.rr{
  text-align: right;
  width: fit-content;
}
.v2{
background-color: rgb(28, 38, 82);

padding: 20px;

}

.center {
  margin: auto;
  width: 23%;
  border: 3px solid #ddddff;
  padding: 10px;
}

.v3{

  padding: 5px ;
  margin: 5px;
}

.a1{
background-color: #13357e;
border: 3px solid #000085;
border-radius: 20px;
color: white;
font-size: 20px;
width: 15px;
margin: 10px;
padding: 8px;
}

.a2{
  font-size: 20px;
  color: white;
}

.a3{
  font-size: 18px;
  color: white;
}

.l{
margin: 10px;
  height: 2px;
  background-color: #000000;
  
}

.m{
color: rgb(168, 168, 168);
background-color: rgb(46, 45, 45);
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto ;

  padding: 10px;
}
.grid-item {
 background-color: #49494934;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
}


.center2 {
  margin: auto;
  width: auto;
  
  
  padding: 5px;
}